<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1>Welcome to My Portfolio</h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about_me') }}">About Me</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
        <a href="{{ url_for('contact') }}">Contact</a>
    </nav>
    <p>Witam na stronie porftolio</p>
<img src="{{ url_for('static', filename='cat.jpg') }}" alt="Cat"><br>
</body>
</html>